@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

::-moz-selection {
  background-color: orange;
  color: white;
}

::selection {
  background-color: orange;
  color: white;
}

ul {
  list-style: none;
}

body {
  max-width: 700px;
  border: 2px solid black;
  margin: 0 auto;
  margin-top: 1%;
  padding: 10px;
  border-radius: 10px;
}
body.darkmode {
  background-color: black;
  border: 2px solid aqua;
}
body.darkmode ::-moz-selection {
  background-color: aqua;
  color: white;
}
body.darkmode ::selection {
  background-color: aqua;
  color: white;
}
body.darkmode nav .container {
  text-align: center;
  padding: 10px 0px;
}
@keyframes title {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
body.darkmode nav .container h1 {
  color: orange;
}
body.darkmode nav .container h1 span {
  display: inline-block;
  padding: 0px 3px;
  animation: title 6s linear infinite;
}
body.darkmode nav .container h1 span.sp1 {
  animation-duration: 1s;
}
body.darkmode nav .container h1 span.sp2 {
  animation-duration: 1.1s;
}
body.darkmode nav .container h1 span.sp3 {
  animation-duration: 1.2s;
}
body.darkmode nav .container h1 span.sp4 {
  animation-duration: 1.3s;
}
body.darkmode nav .container h1 span.sp5 {
  animation-duration: 1.4s;
}
body.darkmode nav .container h1 span.sp6 {
  animation-duration: 1.5s;
}
body.darkmode nav .container h1 span.sp7 {
  animation-duration: 1.6s;
}
body.darkmode nav .container h1 span.sp8 {
  animation-duration: 1.7s;
}
body.darkmode nav .container h1 span.sp9 {
  animation-duration: 1.8s;
}
body.darkmode nav .container h1 span.sp10 {
  animation-duration: 1.9s;
}
body.darkmode nav .container .dark {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: white;
  color: yellow;
  border: 2px solid yellow;
}
body.darkmode nav .container .dark:hover {
  transform: scale(1.1);
}
body.darkmode nav .container .dark:active {
  transform: scale(0.9);
}
body.darkmode .hero .container {
  padding: 10px 0px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
body.darkmode .hero .container input {
  padding: 10px 10px;
  margin: 0px 10px;
  width: 80%;
  border: 3px solid white;
  border-radius: 15px;
  color: white;
  background-color: black;
  font-size: 25px;
  font-weight: 600;
  outline: none;
}
body.darkmode .ac .container {
  padding: 5px 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
body.darkmode .ac .container button {
  padding: 5px 20px;
  width: 30%;
  font-size: 20px;
  border: 3px solid rgb(255, 253, 253);
  background: linear-gradient(180deg, aqua, rgb(255, 255, 255), aqua);
  border-radius: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  color: black;
  font-weight: 600;
}
body.darkmode .ac .container button:hover {
  transform: scale(1.02);
  border: 3px solid rgb(255, 238, 0);
}
body.darkmode .ac .container button:active {
  background: linear-gradient(180deg, yellow, rgba(235, 232, 64, 0.616), yellow);
}
body.darkmode .amal .container {
  padding: 20px 0px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 100px;
}
body.darkmode .amal .container .box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
body.darkmode .amal .container .box .card {
  width: 100px;
  border: 3px solid aqua;
  padding: 5px;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
}
body.darkmode .amal .container .box .card:hover {
  background-color: aqua;
  color: white;
}
body.darkmode .amal .container .box .card:active {
  transform: scale(0.85);
}
body.darkmode .amal .container .box2 {
  width: 332px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
body.darkmode .amal .container .box2 .num {
  width: 100px;
  padding: 5px;
  font-size: 50px;
  font-weight: 600;
  border: 3px solid aqua;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
}
body.darkmode .amal .container .box2 .num:hover {
  background-color: aqua;
  color: white;
}
body.darkmode .amal .container .box2 .num:active {
  transform: scale(0.85);
}

nav .container {
  text-align: center;
  padding: 10px 0px;
}
@keyframes title {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
nav .container h1 {
  color: orange;
}
nav .container h1 span {
  display: inline-block;
  padding: 0px 3px;
  animation: title 6s linear infinite;
}
nav .container h1 span.sp1 {
  animation-duration: 1s;
}
nav .container h1 span.sp2 {
  animation-duration: 1.1s;
}
nav .container h1 span.sp3 {
  animation-duration: 1.2s;
}
nav .container h1 span.sp4 {
  animation-duration: 1.3s;
}
nav .container h1 span.sp5 {
  animation-duration: 1.4s;
}
nav .container h1 span.sp6 {
  animation-duration: 1.5s;
}
nav .container h1 span.sp7 {
  animation-duration: 1.6s;
}
nav .container h1 span.sp8 {
  animation-duration: 1.7s;
}
nav .container h1 span.sp9 {
  animation-duration: 1.8s;
}
nav .container h1 span.sp10 {
  animation-duration: 1.9s;
}
nav .container .dark {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: black;
  color: aqua;
  border: 2px solid aqua;
}
nav .container .dark:hover {
  transform: scale(1.1);
}
nav .container .dark:active {
  transform: scale(0.9);
}

.hero .container {
  padding: 10px 0px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.hero .container input {
  padding: 10px 10px;
  margin: 0px 10px;
  width: 80%;
  border: 3px solid orange;
  border-radius: 15px;
  color: black;
  font-size: 25px;
  font-weight: 600;
  outline: none;
}

.ac .container {
  padding: 5px 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.ac .container button {
  padding: 5px 20px;
  width: 30%;
  font-size: 20px;
  border: 3px solid rgba(0, 0, 0, 0.205);
  background: linear-gradient(180deg, orange, rgba(235, 232, 64, 0.616), orange);
  border-radius: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  color: black;
  font-weight: 600;
}
.ac .container button:hover {
  transform: scale(1.02);
  border: 3px solid rgb(255, 238, 0);
}
.ac .container button:active {
  background: linear-gradient(180deg, yellow, rgba(235, 232, 64, 0.616), yellow);
}

.amal .container {
  padding: 20px 0px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 100px;
}
.amal .container .box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.amal .container .box .card {
  width: 100px;
  border: 3px solid orange;
  padding: 5px;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.amal .container .box .card:hover {
  background-color: orange;
  color: white;
}
.amal .container .box .card:active {
  transform: scale(0.85);
}
.amal .container .box2 {
  width: 332px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.amal .container .box2 .num {
  width: 100px;
  padding: 5px;
  font-size: 50px;
  font-weight: 600;
  border: 3px solid orange;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.amal .container .box2 .num:hover {
  background-color: orange;
  color: white;
}
.amal .container .box2 .num:active {
  transform: scale(0.85);
}

@media (max-width: 700px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  body {
    max-width: 500px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 1%;
    padding: 10px;
    border-radius: 10px;
  }
  body.darkmode {
    background-color: black;
    border: 2px solid aqua;
  }
  body.darkmode ::-moz-selection {
    background-color: aqua;
    color: white;
  }
  body.darkmode ::selection {
    background-color: aqua;
    color: white;
  }
  body.darkmode nav .container {
    text-align: center;
    padding: 10px 0px;
  }
  @keyframes title {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  body.darkmode nav .container h1 {
    color: orange;
  }
  body.darkmode nav .container h1 span {
    display: inline-block;
    padding: 0px 3px;
    animation: title 6s linear infinite;
  }
  body.darkmode nav .container h1 span.sp1 {
    animation-duration: 1s;
  }
  body.darkmode nav .container h1 span.sp2 {
    animation-duration: 1.1s;
  }
  body.darkmode nav .container h1 span.sp3 {
    animation-duration: 1.2s;
  }
  body.darkmode nav .container h1 span.sp4 {
    animation-duration: 1.3s;
  }
  body.darkmode nav .container h1 span.sp5 {
    animation-duration: 1.4s;
  }
  body.darkmode nav .container h1 span.sp6 {
    animation-duration: 1.5s;
  }
  body.darkmode nav .container h1 span.sp7 {
    animation-duration: 1.6s;
  }
  body.darkmode nav .container h1 span.sp8 {
    animation-duration: 1.7s;
  }
  body.darkmode nav .container h1 span.sp9 {
    animation-duration: 1.8s;
  }
  body.darkmode nav .container h1 span.sp10 {
    animation-duration: 1.9s;
  }
  body.darkmode nav .container .dark {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: white;
    color: yellow;
    border: 2px solid yellow;
  }
  body.darkmode nav .container .dark:hover {
    transform: scale(1.1);
  }
  body.darkmode nav .container .dark:active {
    transform: scale(0.9);
  }
  body.darkmode .hero .container {
    padding: 10px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
  body.darkmode .hero .container input {
    padding: 10px 10px;
    margin: 0px 10px;
    width: 80%;
    border: 3px solid white;
    border-radius: 15px;
    color: white;
    background-color: black;
    font-size: 25px;
    font-weight: 600;
    outline: none;
  }
  body.darkmode .ac .container {
    padding: 5px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  body.darkmode .ac .container button {
    padding: 2px 0px;
    width: 30%;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.205);
    background: linear-gradient(180deg, aqua aquamarine, aqua);
    border-radius: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: black;
    font-weight: 400;
  }
  body.darkmode .ac .container button:hover {
    transform: scale(1.02);
    border: 1px solid rgb(255, 238, 0);
  }
  body.darkmode .ac .container button:active {
    background: linear-gradient(180deg, yellow, rgba(235, 232, 64, 0.616), yellow);
  }
  body.darkmode .amal .container {
    padding: 20px 0px;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 50px;
  }
  body.darkmode .amal .container .box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  body.darkmode .amal .container .box .card {
    width: 50px;
    border: 1px solid aqua;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  body.darkmode .amal .container .box .card:hover {
    background-color: aqua;
    color: white;
  }
  body.darkmode .amal .container .box .card:active {
    transform: scale(0.85);
  }
  body.darkmode .amal .container .box2 {
    width: 232px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  body.darkmode .amal .container .box2 .num {
    width: 50px;
    padding: 5px;
    font-size: 30px;
    font-weight: 600;
    border: 3px solid aqua;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  body.darkmode .amal .container .box2 .num:hover {
    background-color: aqua;
    color: white;
  }
  body.darkmode .amal .container .box2 .num:active {
    transform: scale(0.85);
  }
  .ac .container {
    padding: 5px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .ac .container button {
    padding: 2px 0px;
    width: 30%;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.205);
    background: linear-gradient(180deg, orange, rgba(235, 232, 64, 0.616), orange);
    border-radius: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: black;
    font-weight: 400;
  }
  .ac .container button:hover {
    transform: scale(1.02);
    border: 1px solid rgb(255, 238, 0);
  }
  .ac .container button:active {
    background: linear-gradient(180deg, yellow, rgba(235, 232, 64, 0.616), yellow);
  }
  .amal .container {
    padding: 20px 0px;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 50px;
  }
  .amal .container .box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .amal .container .box .card {
    width: 50px;
    border: 1px solid orange;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .amal .container .box .card:hover {
    background-color: orange;
    color: white;
  }
  .amal .container .box .card:active {
    transform: scale(0.85);
  }
  .amal .container .box2 {
    width: 232px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  .amal .container .box2 .num {
    width: 50px;
    padding: 5px;
    font-size: 30px;
    font-weight: 600;
    border: 3px solid orange;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .amal .container .box2 .num:hover {
    background-color: orange;
    color: white;
  }
  .amal .container .box2 .num:active {
    transform: scale(0.85);
  }
}/*# sourceMappingURL=main.css.map */